<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade PWEB</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <h1 id="teste">Curiosidades da Tecnologia</h1>
        <p>Tudo aquilo que você sempre quis saber sobre o mundo Tech, em um único lugar</p>
        <nav>
            <a href="/"><span>Home</span></a>
            <a href="/dados"><span>Gerenciar Dados</span></a>
            <a href="https://g1.globo.com/" target="_blank" rel="internal"><span>Notícias</span></a>
            <a href="/formulario"><span>Formulario</span></a>
            <a href="mailto:phjsl1@aluno.ifal.edu.br, gasn2@aluno.ifal.edu.br?subject=Contato%20do%20Site&body=Ol%C3%A1%2C%20gostaria%20de%20entrar%20em%20contato." target="_self"><span>Fale Conosco</span></a>
        </nav>
    </header>
    <main>